{% extends 'base.html' %}

{% block content %}
    <h2>Editar Veículo</h2>
    <form method="POST">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" value="{{ car.name }}" required>

        <label for="year">Ano de Fabricação:</label>
        <input type="number" id="year" name="year" value="{{ car.year }}" required>

        <label for="description">Descrição</label>
        <input type="text" id="description" name="description" value="{{ car.description }}">

        <label for="type_id">Tipo</label>
        <select id="type_id" name="type_id" required>
            {% for car_type in car_types %}
                <option value="{{ car_type.id }}" {% if car_type.id == car.type_id %}selected{% endif %}>
                    {{ car_type.name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Salvar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
{% endblock %}
